.contact-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--container-space);
}

.contact-box {
    padding-bottom: 30px;
    color: var(--main-color);
    font-size: 21px;
    line-height: 1.42;
    border-bottom: 4px solid var(--separator-color);
    margin-bottom: 30px;
}

.contact-tel-value,
.contact-mail-value {
    display: block;
    width: 100%;
    max-width: max-content;
}

.contact-mail-value {
    color: var(--active-regular-color);
    transition: all .7s ease;
}

.contact-mail-value:hover {
    color: var(--accent-color);
}

.contact-fb-box {
    position: relative;
    padding-left: 48px;
    padding-top: 5px;
}

.our-fb-page {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--active-regular-color);
    display: inline-block;
    max-width: 107px;
    transition: all .7s ease;
}

.contact-fb-link {
    position: absolute;
    left: 0;
    bottom: 0;
}

.our-fb-page:hover {
    color: var(--accent-color);
}

.contact-fb-link svg path {
    transition: all .7s ease;
}

.contact-fb-link:hover svg path {
    fill: var(--accent-color);
}

.our-fb-page:hover+.contact-fb-link svg path {
    fill: var(--accent-color);
}

.contact-form form {
    width: 100%;
    padding: 30px;
    background-color: var(--grey-color);
    border-radius: 12px;
}

.page-header.form-caption {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 30px;
}

input,
select,
textarea,
button {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    padding: 15px;
    color: var(--font-color);
    border-radius: 8px;
    transition: all .7s ease;
}

input::placeholder,
textarea::placeholder {
    color: var(--font-gray);
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    border: 1px solid var(--active-regular-color);
}



input:focus:required:invalid,
textarea:focus:required:invalid {
    border: 1px solid var(--input-invalid-color);
    color: var(--input-invalid-color);
}

input:focus:required:invalid::placeholder,
textarea:focus:required:invalid::placeholder {
    color: var(--input-invalid-color);
}

input:disabled,
textarea:disabled {
    background: var(--grey-bg-alt);
    border: 1px solid var(--grey-bg-alt);
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-internal-autofill-selected,
input:-webkit-internal-autofill-selected:focus {
    transition: background-color 600000s 0s, color 0s 0s;
}

.contact-message {
    height: 130px;
}

.how-to-answer {
    font-size: 14px;
    line-height: 1.21;
    font-weight: 700;
    color: var(--font-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
}

button.contact-btn {
    padding: 18px;
    line-height: 1.25;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--active-regular-color);
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    z-index: 50;
}

button.contact-btn:hover {
    background-color: var(--button-hover-color);
}

button.contact-btn:active {
    background-color: var(--button-active-color);
}

.progress-btn {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    display: inline-block;
    background: transparent;
    font-family: "RobotoDraft", "Roboto", sans-serif;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    transition: all 0.4s ease;
    border-radius: 8px;
    left: 0;
    top: 0;
}

.progress-btn:not(.active) {
    cursor: pointer;
}

.progress-btn .btn {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    line-height: 50px;
    text-align: center;
    z-index: 10;
    opacity: 1;
}

.progress-btn .progress {
    width: 0%;
    z-index: 5;
    background: #333;
    opacity: 0;
    transition: all 0.3s ease;
}

.progress-btn.active .progress {
    opacity: 1;
    animation: progress-anim 10s ease 0s;
}

.progress-btn[data-progress-style='indefinite'].active .progress {
    animation: progress-indefinite-anim 1s infinite linear 0s;
}

.progress-btn[data-progress-style='fill-bottom'].active .progress,
.progress-btn[data-progress-style='fill-top'].active .progress {
    height: 5px;
}

.progress-btn[data-progress-style='indefinite-circle'].active .progress {
    animation: dash 2s ease infinite,
        rotate 2s linear infinite;
}

.progress-btn[data-progress-style='indefinite-circle'].active {
    width: 100%;
}

.progress-btn[data-progress-style='indefinite'] .progress {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("Spinner.svg");
}

.progress-btn[data-progress-style='indefinite-circle'] .progress {
    width: 40px;
    height: 40px;
    background: transparent;
    position: absolute;
    top: 5px;
    left: calc(50% - 20px);
}

.progress-btn[data-progress-style='indefinite-circle'].active .btn {
    opacity: 0;
}

.circle-loader {
    fill: transparent;
    stroke: #24a3ff;
    stroke-width: 5;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 95;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -25;
    }

    100% {
        stroke-dasharray: 85, 95;
        stroke-dashoffset: -93;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes progress-indefinite-anim {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}