.contact-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: var(--container-space);
}

.contact-box {
    padding-bottom: 30px;
    color: var(--main-color);
    font-size: 21px;
    line-height: 1.42;
    border-bottom: 4px solid var(--separator-color);
    margin-bottom: 30px;
}

.contact-tel-value,
.contact-mail-value {
    display: block;
    width: 100%;
    max-width: max-content;
}

.contact-mail-value {
    color: var(--active-regular-color);
    transition: all .7s ease;
}

.contact-mail-value:hover {
    color: var(--accent-color);
}

.contact-fb-box {
    position: relative;
    padding-left: 48px;
    padding-top: 3px;
}

.our-fb-page {
    font-size: 12px;
    line-height: 1.33;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--active-regular-color);
    display: inline-block;
    max-width: 107px;
    transition: all .7s ease;
}

.contact-fb-link {
    position: absolute;
    left: 0;
    bottom: 0;
}

.our-fb-page:hover {
    color: var(--accent-color);
}

.contact-fb-link svg path {
    transition: all .7s ease;
}

.contact-fb-link:hover svg path {
    fill: var(--accent-color);
}

.our-fb-page:hover + .contact-fb-link svg path {
    fill: var(--accent-color);
}

.contact-form form {
    width: 100%;
    padding: 30px;
    background-color: var(--grey-color);
    border-radius: 12px;
}

.page-header.form-caption {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 30px;
}

input,
select,
textarea,
button {
    display: block;
    min-width: 100%;
    margin: 0 auto;
    outline: none;
    background-color: var(--white-color);
    border: 1px solid var(--white-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    padding: 15px;
    color: var(--font-color);
    border-radius: 8px;
    transition: all .7s ease;
}

input::placeholder,
textarea::placeholder {
    color: var(--font-gray);
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    border: 1px solid var(--active-regular-color);
}



input:focus:required:invalid,
textarea:focus:required:invalid {
    border: 1px solid var(--input-invalid-color);
    color: var(--input-invalid-color);
}

input:focus:required:invalid::placeholder,
textarea:focus:required:invalid::placeholder {
    color: var(--input-invalid-color);
}

input:disabled,
textarea:disabled {
    background: var(--grey-bg-alt);
    border: 1px solid var(--grey-bg-alt);
}

.contact-message {
    height: 130px;
}

.how-to-answer {
    font-size: 14px;
    line-height: 1.21;
    font-weight: 700;
    color: var(--font-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
}

button.contact-btn {
    padding: 18px;
    line-height: 1.25;
    font-weight: 700;
    color: var(--white-color);
    background-color: var(--active-regular-color);
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: all .7s ease;
}

button.contact-btn:hover {
    background-color: var(--button-hover-color);
}

button.contact-btn:active {
    background-color: var(--button-active-color);
}