@media screen and (min-width: 2560px) {
    :root {
        --container-width: 1600px;
        --container-wide-width: 1920px;
    }

    .page-header {
        max-width: 1600px;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        --container-width: 1080px;
        --container-wide-width: 1320px;
    }

    .page-header {
        max-width: 1080px;
    }

}

@media screen and (max-width: 1366px) {
    /* :root {
        --container-space: 23px;
    } */
}

@media screen and (max-width: 1024px) {
    :root {
        --container-space: 60px;
    }

    .page-header {
        max-width: 664px;
    }

    .wrapper-inner-team.grid {
        grid-template-columns: 300px 1fr;
    }

    .employee-img {
        height: 375px;
    }
}

@media screen and (max-width: 1023px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-right-side {
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .header-wrapper.grid {
        grid-template-areas: 
        'top-links top-links top-links top-links'
        'logo logo logo logo'
        'bottom-links bottom-links bottom-links bottom-links';
    }

    .top-links.flex.justify-end,
    .bottom-links.flex.justify-end {
        justify-content: flex-start;
    }

    .top-links{
        margin-bottom: 30px;
    }

    .wrapper-inner-team.grid {
        grid-template-areas: 
        'inner-team-photo inner-team-info'
        'inner-team-descr inner-team-descr';
        grid-template-rows: 375px 1fr;
    }

    .inner-team-info {
        display: flex;
        align-items: center;
    }

    .page-header.inner-team {
        margin-left: 0;
    }
}

@media screen and (max-width: 940px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .page-header {
        max-width: 648px;
    }

    .wrapper-inner-team.grid {
        column-gap: 30px;
    }
}

@media screen and (max-width: 767px) {

    .check {
        display: block;
        top: -72px;
    }
    
    .burger {
        display: block;
        top: -72px;
    }

    :root {
        --container-space: 30px;
      }

    .header {
        padding-top: 0;
    }

    .separator,
    .address,
    .facebook-link {
        display: none;
    }

    .top-links.flex.justify-end {
        justify-content: space-between;
    }

    .logo,
    .top-links {
        padding-left: 15px;
        padding-right: 15px;
    }
    .top-links {
        background-color: var(--grey-color);
        max-height: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .container.wide.wide-gray {
        padding-left: 0;
        padding-right: 0;
    }

    .header-nav {
        opacity: 0;
        position: fixed;
        inset: 0;
        z-index: -1;
        padding: 40px 8px;
    }

    .header-nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        background-color: var(--white-color);
        border-radius: 12px;
        width: 100%;
        height: 100%;
        font-size: 24px;
        padding-top: 92px;
        transform: translateY(100%);
        transition: all 0.5s ease;
        padding-left: 12px;
        padding-right: 12px;
    }

    .header-nav ul li {
        width: 100%;
        text-align: center;
        border-radius: 12px;
        background-color: var(--grey-color);
        transition: all 0.5s ease;
    }

    .header-nav ul li:hover {
        background-color: var(--separator-color);
    }

    .nav-link-item::after,
    .nav-link-item.active-header-link::after {
        display: none;
    }

    .nav-link-item {
        display: inline-block;
        width: 100%;        
        height: 100%;
    }

    .footer-address-wrap,
    .footer-contacts-wrap {
        flex-direction: column;
        gap: 10px;
    }
}

@media screen and (max-width: 640px) {
    .page-header {
        max-width: 100%;
        font-size: 30px;
        line-height: 1.23;
    }

    .inner-team-photo {
        text-align: center;
    }
}

@media screen and (max-width: 560px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }   

    .wrapper-inner-team.grid {
        grid-template-areas: 
        'inner-team-photo'
        'inner-team-info'
        'inner-team-descr';
        grid-template-columns: 1fr;
    }

    .employee-img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 480px) {
    .logo-img {
        max-width: 69px;
    }
    
    .slash-img {
        max-width: 11px;
    }

    .page-name {
        font-size: 20px;
    }

    .top-links {
        margin-bottom: 15px;
    }

    .logo {
        margin-bottom: 10px;
    }   
    
    .check {
        top: -57px;
    }
    
    .burger {
        top: -57px;
    } 

    .header-nav ul {
        padding-top: 60px;
    }
}

@media screen and (max-width: 375px) {
    .team-img {
        height: 300px;
    }
}

@media screen and (max-width: 360px) {
    .copyright {
        font-size: 14px;
    }
}




