@media screen and (min-width: 2560px) {
    :root {
        --container-width: 1600px;
        --container-wide-width: 1920px;
    }

    .page-header {
        max-width: 1600px;
    }

    .clients-wrapper {
        max-width: 2220px;
    }
}

@media screen and (max-width: 1780px) {
    .clients-wrapper {
        max-width: 100%;
        margin-bottom: 0;
    }

    .hillel {
        border-top-left-radius: 0;
    }

    .threedlook {
        border-top-right-radius: 0;
    }

    .ingratek {
        border-bottom-left-radius: 0;
    }

    .ultimatecard {
        border-bottom-right-radius: 0;
    }
}

@media screen and (max-width: 1740px) {
    .achievements-slider-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        --container-width: 1080px;
        --container-wide-width: 1320px;
    }

    .page-header {
        max-width: 1080px;
    }

    .achievements-slider-wrapper {
        padding-left: 0;
        padding-right: 0;
    }

}

@media screen and (max-width: 1366px) {
    .achievements-slider-wrapper {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 1150px) {
    .employee-info {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .separator.in-header.in-employee {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --container-space: 60px;
    }

    .page-header {
        max-width: 664px;
    }

    .wrapper-inner-team.grid {
        grid-template-columns: 300px 1fr;
    }

    .employee-img {
        height: 375px;
    }

    .team-text {
        font-size: 86px;
    }
}

@media screen and (max-width: 1023px) {
    .footer-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-right-side {
        margin-top: 30px;
    }
}

@media screen and (max-width: 992px) {
    .header-wrapper.grid {
        grid-template-areas: 
        'top-links top-links top-links top-links'
        'logo logo logo logo'
        'bottom-links bottom-links bottom-links bottom-links';
    }

    .top-links.flex.justify-end,
    .bottom-links.flex.justify-end {
        justify-content: flex-start;
    }

    .top-links{
        margin-bottom: 30px;
    }

    .wrapper-inner-team.grid {
        grid-template-areas: 
        'inner-team-photo inner-team-info'
        'inner-team-descr inner-team-descr';
        column-gap: 30px;
    }

    .inner-team-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-header.inner-team {
        margin-left: 0;
        margin-top: 30px;
    }

    .about-top-wrapper {
        grid-template-columns: 1fr;
    }

    .about-bottom-wrapper {
        grid-template-columns: 1fr;
    }

    .pt-main {
        padding-top: 250px;
    }
}

@media screen and (max-width: 940px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .services-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .clients-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    .recommended-publications-wrapper.grid {
        grid-template-areas: 
        'first-article second-article'
        'third-article third-article';
    }
}

@media screen and (max-width: 768px) {
    .page-header {
        max-width: 648px;
    }

    .wrapper-inner-team.grid {
        column-gap: 30px;
    }

    .contact-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .publications-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .team-text {
        font-size: 46px;
    }

    .achievement-slide {
        height: 90px;
    }
}

@media screen and (max-width: 767px) {

    .check {
        display: block;
        top: -72px;
    }
    
    .burger {
        display: block;
        top: -72px;
    }

    :root {
        --container-space: 30px;
      }

    .header {
        padding-top: 0;
    }

    .separator,
    .address,
    .facebook-link {
        display: none;
    }

    .top-links.flex.justify-end {
        justify-content: space-between;
    }

    .logo,
    .top-links {
        padding-left: 15px;
        padding-right: 15px;
    }

    .top-links {
        background-color: var(--grey-color);
        max-height: 45px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .top-links.purple-top {
        background-color: rgba(245, 245, 250, 0.2);
    }

    .container.wide.wide-gray {
        padding-left: 0;
        padding-right: 0;
    }

    .header-nav {
        opacity: 0;
        position: fixed;
        z-index: -1;
        padding: 40px 8px;
        bottom: -100%;
    }

    .header-nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        background-color: var(--white-color);
        border-radius: 12px;
        width: 100%;
        height: 100%;
        font-size: 24px;
        padding-top: 92px;
        transform: translateY(100%);
        transition: all 0.5s ease;
        padding-left: 12px;
        padding-right: 12px;
    }

    .header-nav ul li {
        width: 100%;
        text-align: center;
        border-radius: 12px;
        background-color: var(--grey-color);
        transition: all 0.5s ease;
    }

    .header-nav ul li:hover {
        background-color: var(--separator-color);
    }

    .nav-link-item::after,
    .nav-link-item.active-header-link::after {
        display: none;
    }

    .nav-link-item {
        display: inline-block;
        width: 100%;        
        height: 100%;
    }

    .footer-address-wrap,
    .footer-contacts-wrap {
        flex-direction: column;
        gap: 10px;
    }

    .pt-main {
        padding-top: 174px;
    }

    .clients-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav-link-item.white-nav-link {
        color: var(--active-regular-color);
    }
}

@media screen and (max-width: 640px) {
    .page-header {
        max-width: 100%;
        font-size: 30px;
        line-height: 1.23;
    }

    .inner-team-photo {
        text-align: center;
    }

    .recommended-publications-wrapper.grid {
        grid-template-areas: 
        'first-article'
        'second-article'
        'third-article';
    }

    .service-entry-list-wrapper {
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .contact-form form.popup-form {
        height: 100vh;
        border-radius: 0;
    }

    .popup-form .page-header.form-caption {
        max-width: 80%;
        margin-left: 0;
    }

    .full-text-img {
        height: 300px;
    }
}

@media screen and (max-width: 560px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }   

    .publications-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .wrapper-inner-team.grid {
        grid-template-areas: 
        'inner-team-photo'
        'inner-team-info'
        'inner-team-descr';
        grid-template-columns: 1fr;
    }

    .clients-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .services-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    .scroll-box {
        bottom: 70px;
    }
}

@media screen and (max-width: 480px) {
    .logo-img {
        max-width: 69px;
    }
    
    .slash-img {
        max-width: 11px;
    }

    .page-name {
        font-size: 20px;
    }

    .top-links {
        margin-bottom: 15px;
    }

    .logo {
        margin-bottom: 10px;
    }   
    
    .check {
        top: -57px;
    }
    
    .burger {
        top: -57px;
    } 

    .header-nav ul {
        padding-top: 60px;
    }

    .team-text {
        font-size: 36px;
        letter-spacing: 13px;
    }

    .pt-main {
        padding-top: 132px;
    }

    .clickky,
    .eco-leasing,
    .ingratek,
    .city-park,
    .artprint,
    .ultimatecard {
        display: none;
    }

}

@media screen and (max-width: 375px) {
    .team-img {
        height: 300px;
    }
}

@media screen and (max-width: 360px) {
    .copyright {
        font-size: 14px;
    }

    .contact-mail-value {
        font-size: 18px;
    }
}




