.publications {
    background-color: var(--grey-color);
    overflow: hidden;
}

.choice-wrapper {
    background-color: var(--separator-color);
    padding: 2px;
    border-radius: 12px;
    margin-bottom: 30px;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.choice-link {
    line-height: 1.25;
    color: var(--main-color);
    font-weight: 700;
    background-color: transparent;
    padding-left: 30px;
    padding-top: 8px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 10px;
    transition: all .7s ease;
}

.choice-link:hover {
    background-color: var(--grey-color);
}

.active-choice-link,
.active-choice-link:hover {
    background-color: var(--white-color);
}

.publications-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.publication-card {
    background-color: var(--white-color);
    border-radius: 8px;
    padding-bottom: 30px;
}

.publication-img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 200px;
    object-fit: cover;
}

.publication-card-container {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.publication-header {
    line-height: 1.25;
    color: var(--active-regular-color);
    font-weight: 700;
    transition: all .7s ease;
}

.publication-header:hover {
    color: var(--accent-color);
}

.publication-date {
    font-size: 12px;
    line-height: 1.25;
    font-weight: 700;
    color: var(--font-gray);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 4px solid var(--separator-color);
}

.publication-intro {
    padding-top: 15px;
    font-size: 14px;
    line-height: 1.57;
}

.more-publications-link {
    line-height: 1.25;
    font-weight: 700;
    color: var(--white-color);
    padding: 18px 30px;
    background-color: var(--active-regular-color);
    box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
    border-radius: 12px;
    margin-top: 30px;
    transition: all .7s ease;
}

.more-publications-link:hover {
    background-color: var(--button-hover-color);
}


/* ------------------------------------------------FULL-TEXT------------------------------------------ */

.full-text-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.full-text-header {
    font-size: 30px;
    line-height: 1.23;
    font-weight: 700;
    color: var(--main-color);
    margin-top: 30px;
}

.publication-date.full-text-date {
    padding-bottom: 30px;
}

.full-text {
    padding-top: 30px;
}

.page-header.ml-0.in-full-text {
    text-align: left;
    padding-top: 30px;
}

.full-text-subheader {
    font-size: 22px;
    line-height: 1.23;
    font-weight: 700;
    color: var(--main-alt-color);
    padding-top: 30px;
}

.full-text-ol {
    padding-left: 40px;
}

.full-text-li {
    font-size: 18px;
    line-height: 1.44;
    margin-top: 15px;
}

.full-text-li::marker {
    font-size: 18px;
    line-height: 1.44;
    font-weight: 700;
    color: var(--accent-color);
}

.full-text-inner-img {
    text-align: center;
    padding-top: 30px;
}

.full-text-inner-img img {
    width: 100%;
    max-width: 640px;
}

.illustration-header {
    font-size: 14px;
    line-height: 1.57;
    color: var(--font-gray);
    margin-top: 10px;
}

.full-text-social {
    padding-top: 30px;
    border-top: 4px solid var(--separator-color);
    margin-top: 30px;
}

.full-text-social-box {
    width: 42px;
    height: 42px;
    padding: 9px;
    background-color: var(--grey-color);
    border-radius: 12px;
    transition: all .7s ease;
}

.full-text-social-box:hover {
    background-color: var(--grey-bg-alt);
}

.recommended-publications.without-border-radius {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}