.header.white-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.page-name.white-name,
.lang-link.white-lang,
.address.white-address,
.tel.white-tel,
.nav-link-item.white-nav-link {
    color: var(--white-color);
}

.nav-link-item.white-nav-link::after {
    background-color: var(--white-color);
}

.facebook-link.white-fb svg path {
    fill: var(--white-color);
}

.lang-link.white-lang:hover {
    background: rgba(255, 255, 255, 0.2);
}

.pt-main {
    padding-top: 176px;
}

.what-we-do-better {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    position: relative;
    margin-bottom: 84px;
}

.page-header.ml-0 {
    margin-left: 0;
    max-width: max-content;
    text-align: center;
}

.page-header.mr-0 {
    margin-right: 0;
}

.services-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.service-img {
    width: 92px;
    height: 92px;   
    background-color: var(--white-color);
    border-radius: 24px;
}

.service-header {
    font-size: 22px;
    line-height: 1.35;
    font-weight: 700;
    color: var(--active-regular-color);
    transition: all .7s ease;
    margin-top: 30px;
    margin-bottom: 15px;
    max-width: max-content;
}

.service-header:hover {
    color: var(--accent-color);
}

.service-descr {
    color: var(--white-color);
}

.what-we-do-better::before {
    content: '';
    display: block;
    background-color: #cacadb;
    position: absolute;
    height: 24px;
    border-radius: 12px;
    top: calc(100% - 12px);
    left: 20px;
    right: 20px;
    z-index: -1;
}

.what-we-do-better::after {
    content: '';
    display: block;
    background-color: #e7e7f2;
    position: absolute;
    height: 24px;
    border-radius: 12px;
    top: 100%;
    left: 40px;
    right: 40px;
    z-index: -2;
}

.clients-wrapper {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1720px;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.client-box {
    height: 120px;
}

.hillel {
    background-color: #1c4280;
    border-top-left-radius: 12px;
}

.wannabiz {
    background-color: #143646;
}

.tapgerine {
    background-color: #f48b30;
}

.threedlook {
    background-color: #9e4dc3;
    border-top-right-radius: 12px;
}

.orangear {
    background-color: #ff9339;
}

.adtelligent {
    background-color: #e2e2e4;
}

.clickky {
    background-color: #c71c36;
}

.eco-leasing {
    background-color: #dcf3f9;
}

.ingratek {
    background-color: #eaeaea;
    border-bottom-left-radius: 12px;
}

.city-park {
    background-color: #282240;
}

.artprint {
    background-color: #1d4568;
}

.ultimatecard {
    background-color: #000;
    border-bottom-right-radius: 12px;
}

/* ---------------------------------------------------SERVICE-ENTRY--------------------------------------------- */

.service-entry-text {
    font-size: 19px;
    line-height: 1.58;
    color: var(--white-color);
    text-align: center;
}

.service-entry-wrapper {
    padding-bottom: 60px;
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);
}

.more-publications-link.mt-0 {
    margin-top: 0;
}

.service-entry-list-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
}

.service-entry-list-header {
    font-size: 22px;
    line-height: 1.23;
    font-weight: 700;
    color: var(--white-color);
    margin-bottom: 30px;
}

.list-of-services {
    font-size: 18px;
    line-height: 1.44;
    list-style-type: disc;
    padding-left: 17px;
    color: var(--white-color);
}

.service-list-item::marker {
    color: var(--accent-color);
}

.recommended-publications {
    background-color: var(--grey-color);
    padding-top: 30px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.recommended-publications-title{
    font-size: 14px;
    line-height: 1.21;
    color: var(--active-regular-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.recommended-publications-wrapper {
    border-bottom: 2px solid var(--separator-color);
    padding-bottom: 30px;
    padding-top: 30px;
}

.page-header.mt-10{
    margin-top: 10px;
}

.recommended-publications-wrapper.grid {
    grid-template-areas: 
    'first-article second-article third-article';
    gap: 30px;
}

.grid .first-article {
    grid-area: first-article;
}

.grid .second-article {
    grid-area: second-article;
}

.grid .third-article {
    grid-area: third-article;
}

/* --------------------------------------------------POPUP------------------------------------------- */

.popup-wrapper {
    position: fixed;
    z-index: 3000;
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(50, 50, 100, 0.7);
}

.popup-wrapper.active-popup {
    display: flex;
}

.popup-window {
    width: 100%;
    max-width: 650px;
    max-height: 100vh;
}

.popup-form {
    position: relative;
}

.close-popup-btn {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 32px;
    height: 32px;
    background: transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: all .7s ease;
}

.close-popup-btn:hover {
    background: var(--separator-color);
}