@import url(common.css);
@import url(contact.css);
@import url(publications.css);
@import url(about.css);
@import url(services.css);

/* --------------------------------------HEADER------------------------------------------------------------ */

.header {
    padding-top: 50px;
}

.main {
    overflow-x: hidden;
}

.header-wrapper.grid {
    grid-template-areas: 
    'logo logo top-links top-links'
    'logo logo bottom-links bottom-links';
}

.grid .logo {
    grid-area: logo;
}

.grid .top-links {
    grid-area: top-links;
}

.grid .bottom-links {
    grid-area: bottom-links;
}

.top-links {
    max-height: 25px;
}

.bottom-links {
    position: relative;
}

.page-name {
    color: var(--main-color);
    font-size: 36px;
    line-height: 1.22;
}

.lang-link {
    display: inline-block;
    color: var(--font-gray);
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 5px 7px;
    background-color: transparent;
    border-radius: 8px;
    transition: all .7s ease;
}

.lang-link:hover {
    background-color: var(--grey-color);
}

.lang-link.active-lang {
    background-color: var(--accent-color);
    color: var(--white-color);
}

.separator {
    display: inline-block;
    width: 6px;
    height: 6px;    
    border-radius: 50%;
}

.in-header {
    background-color: var(--separator-color);
    margin-left: 6px;
    margin-right: 6px;
}

.in-footer {
    background-color: var(--font-gray);
    margin-left: 10px;
    margin-right: 10px;
}

.address {
    color: var(--font-gray);
    line-height: 1.22;
}

.tel {
    color: var(--font-gray);
    line-height: 1.22;
    font-weight: 700;
}

.facebook-link {
    display: flex;
}

.facebook-link svg path {
    transition: all .7s ease;
}

.facebook-link:hover svg path {
    fill: var(--accent-color);
}

.nav-link-item {
    line-height: 1.22;
    font-weight: 700;
    color: var(--active-regular-color);
    position: relative;
}

.nav-link-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--active-regular-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    opacity: 0;
    transition: all .5s ease;
}

.nav-link-item:hover::after {
    opacity: 1;
}

.nav-link-item.active-header-link {
    color: var(--accent-color);
}

.nav-link-item.active-header-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -3px;
    opacity: 1;
}

/* ----------------------------------------------------FIRST-SCREEN----------------------------------------------- */

.first-screen {
    min-height: 100vh;
    position: relative;
    margin-bottom: 60px;
}

.first-screen-header {
    font-size: 38px;
    line-height: 1.21;
    color: var(--white-color);
    text-align: center;
    position: relative;
    z-index: 2;
}

.letter-h {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    transform: translateX(-50%);
    max-width: none;
}

.scroll-box {
    position: absolute;
    display: inline-block;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: toTab 3s infinite;
}

@keyframes toTab {
    0% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(15px);
    }
    100% {
        transform: translateY(0);
    }
}

.scroll-box svg circle,
.scroll-box svg path {
    transition: all .7s ease;
}

.scroll-box:hover svg circle.to-tab-circle,
.scroll-box:hover svg path.bottom-arrow {
    stroke: var(--accent-color);
}

.first-screen-tabs {
    height: 300px;
}

/* --------------------------------------------------HOME-PAGE-SLIDER--------------------------------------------- */

.team-slider-item {
    grid-template-columns: 400px 1fr;
    border-radius: 12px;
}

.team-slider-item img {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.team-slider-item-detail {
    background-color: #e7e7f2;
    width: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 30px;
}

.page-header.ml-0.mt-10.team-slider-header {
    text-align: left;
}

.team-slider-name {
    color: var(--font-gray);
    line-height: 1.25;
    font-weight: 700;
    margin-top: 30px;
}

.team-slider-position {
    font-size: 14px;
    line-height: 1.57;
    color: var(--font-gray);
    margin-top: 6px;
}

/* -----------------------------------------------------BURGER-MENU----------------------------------------------- */

.check {
    display: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -52px;
    right: 15px;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.burger {
    display: none;
    width: 32px;
    height: 32px;
    position: absolute;
    top: -52px;
    right: 15px;
    z-index: 2;
    border-radius: 8px;
    transition: all .7s ease;
}

.check:active + .burger {
    background-color: var(--separator-color);
}

.check:active + .burger.purple-burger {
    background-color: rgba(245, 245, 250, 0.2);
}

.burger span {
    display: inline-block;
    width: 18px;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    left: 7px;
}

.burger span.white-span {
    background-color: var(--white-color);
}

.burger span:first-child {
    top: 9px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
    top: 15px;
}

.burger span:last-child {
    top: 21px;
}

.check:checked ~ .burger span:first-child {
    top: -10px;
    opacity: 0;
}

.check:checked ~ .burger span:nth-child(2) {
    transform: rotate(45deg);
    background-color: var(--negative-color);
}

.check:checked ~ .burger span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: var(--negative-color);
}

.check:checked ~ .burger span:last-child {
    top: 24px;
    opacity: 0;
}

.check:checked ~ .header-nav {
    display: block;
    background-color: rgba(50, 50, 100, 0.7);
    z-index: 1;
    opacity: 1;
    inset: 0;
}

.check:checked ~ .header-nav ul {
    transform: translateY(0);
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--container-space);
}

.team-img-link {
    display: flex;
}

.team-img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.team-details {
    margin-top: 15px;
}

.team-head {
    position: relative;
}

.team-name {
    font-weight: 700;
    color: var(--main-color);
    line-height: 1.25;
    margin-right: 45px;
    transition: all .7s ease;
}

.position {
    font-size: 14px;
    line-height: 1.57;
    color: var(--font-gray);
    margin-top: 5px;
    padding-right: 45px;
}

.more-team-link {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.more-team-link svg path,
.more-team-link svg circle {
    transition: all .7s ease;
}

.more-team-link:hover svg path {
    stroke: var(--accent-color);
}

.more-team-link:hover svg circle {
    fill: var(--grey-bg-alt);
}

.more-team-link:hover + .team-name{
    color: var(--accent-color);
}

.team-name:hover {
    color: var(--accent-color);
}

.team-name:hover + .more-team-link svg path{
    stroke: var(--accent-color);
}

/* --------------------------------------------------INNER-TEAM------------------------------------------------ */

.wrapper-inner-team.grid {
    grid-template-areas: 
    'inner-team-photo inner-team-info'
    'inner-team-photo inner-team-descr';
    column-gap: var(--container-space);
    grid-template-columns: 400px 1fr;
    min-height: 500px;
}

.grid .inner-team-photo {
    grid-area: inner-team-photo;
}

.grid .inner-team-info {
    grid-area: inner-team-info;
}

.grid .inner-team-descr {
    grid-area: inner-team-descr;
}

.employee-img {
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.inner-team-descr {
    margin-top: 30px;
    border-top: 4px solid var(--separator-color);
    padding-top: 30px;
}

.employee-info {
    margin-top: 15px;
}

.inner-team-descr-text + .inner-team-descr-text {
    margin-top: 30px;
}

.employee-subheader {
    font-size: 14px;
    line-height: 1.21;
    font-weight: 700;
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.employee-position {
    font-size: 14px;
    line-height: 1.43;
    color: var(--font-gray);
}

.employee-info-link {
    line-height: 1.25;
    color: var(--active-regular-color);
}

/* ----------------------------------------------------FOOTER--------------------------------------------------------- */

.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--grey-color);
    line-height: 1.25;
}

.footer-address {
    color: var(--main-color);
}

.map-link,
.footer-email {
    font-weight: 700;
    color: var(--active-regular-color);
    transition: all .7s ease;
}

.map-link {
    font-size: 12px;    
    text-transform: uppercase;    
}

.map-link:hover,
.footer-email:hover {
    color: var(--accent-color);
}

.footer-facebook-link {
    display: flex;
}

.footer-facebook-link svg path {
    transition: all .7s ease;
}

.footer-facebook-link:hover svg path {
    fill: var(--accent-color);
}

.footer-tel {
    font-weight: 700;
    color: var(--main-color);
}

.copyright {
    color: var(--font-gray);
}
